.headLabel{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(243, 243, 236);
}
#searchbox{
    width: 30rem;
    height: 40px;
   margin: 0 auto;
   margin-bottom: 10px;
    padding: 5px;
}
#btnclick{
    width: 10rem;
    height: 40px;
    color: rgb(249, 251, 252);
    margin: 0 auto;
    border-radius: 10%;
    background-color: rgb(37, 35, 141);
}
h1{
    margin : 0 auto;
}
#content{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.thumbnails{
    width: 50%;
    box-shadow: 1px 5px 8px bisque;
    word-wrap: break-word;
}
#navigation{
    display: flex;
    height: 30px; 
     margin: 0 auto;
}
#next{
    margin: 0 auto;
    margin-right: 20px;
    width: 8rem;
}
#prev{
    margin: 0 auto;
    margin-left: 20px;
    width: 8rem;
}
img{
    width: 90%;
}
